# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]
  issues:
    types: [opened]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
#     container: docker://dvcorg/cml-py3:latest
    permissions:
      pull-requests: write
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repository
        uses: actions/checkout@v2
      
#       - name: python
#         uses: actions/setup-python@v2
      
#       - name: cml
#         uses: iterative/setup-cml@v1
      
      - name: Hello world action step
        id: hello
        uses: andreneto97/docker-action@d9a89cebb0922762c10a0ed08cbc5b02e40fc3df
        with:
          who-to-greet: 'Mona the Octocat'
          
      - name: test
        uses: actions/github-script@v5
        with: 
          github-token: ${{ secrets.GH_PATS }}
          script: |
            github.rest.issues.addLabels({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            comment: 'The PR is commented'
            })
          
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
